.feedBackOptions{
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
border-radius: 10px;
  background-color: rgb(196, 255, 219);
  font-weight: 400px;
  font-size: 20px;
  line-height: calc(26 / 18);
}

.feedBackOptions:not(:last-child){
    margin-right: 10px;
}

.feedBackOptions:active{
    background-color: black;
    color: aliceblue;
}
